*

!.config/
!.config/QtProject.conf
!.config/dconf/
!.config/dconf/*
!.config/dunst/
!.config/dunst/*
!.config/fcitx/
!.config/fcitx/*
!.config/fcitx5/
!.config/fcitx5/*
!.config/fcitx5/*/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/gtk-2.0/
!.config/gtk-2.0/*
!.config/gtk-3.0/
!.config/gtk-3.0/*
!.config/ibus/
!.config/ibus/*
!.config/ibus/*/*
!.config/lf/
!.config/lf/*
!.config/mimeapps.list
!.config/mpd/
!.config/mpd/*
!.config/mpv/
!.config/mpv/*
!.config/mpv/*/*
!.config/mpv/*/*/*
!.config/ncmpcpp/
!.config/ncmpcpp/*
!.config/newsboat/
!.config/newsboat/*
!.config/pinentry/
!.config/pinentry/*
!.config/pipewire/
!.config/pipewire/*
!.config/pulse/
!.config/pulse/*
!.config/rest-client/
!.config/rest-client/*
!.config/rofi/
!.config/rofi/*
!.config/shell/
!.config/shell/*
!.config/sxiv/
!.config/sxiv/*
!.config/sxiv/*/*
!.config/user-dirs.dirs
!.config/wal/
!.config/wal/*
!.config/wal/*/*
!.config/wget/
!.config/wget/*
!.config/x11/
!.config/x11/*
!.config/yay/
!.config/yay/*
!.config/zathura/
!.config/zathura/*
!.config/zsh/
!.config/zsh/*

!.local/
!.local/*
!.local/bin/
!.local/bin/*
!.local/bin/*/*
!.local/share/
!.local/share/applications/
!.local/share/applications/*
!.local/share/fcitx5/
!.local/share/fcitx5/*
!.local/share/fcitx5/*/
!.local/share/larbs/
!.local/share/larbs/*
!.local/share/larbs/*/*
!.local/share/lf/
!.local/share/lf/*


!.gitconfig
!.gitignore
!.gitmodules
!.pam_environment
!.xprofile
!.zprofile
